* {
  margin: 0;
  padding: 0; }

.slider {
  width: 100%; }

hr {
  border: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  height: 4px;
  background-color: #8cc444;
  color: #8cc444;
  width: 100%; }

h5 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 2rem;
  color: #606a70;
  text-overflow: inherit;
  padding-top: 50px;
  min-width: 300px;
  text-align: center;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 3rem; }

h4 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 2rem;
  color: #606a70;
  text-overflow: inherit;
  padding-top: 30px;
  min-width: 300px;
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
  margin-top: 1rem; }

header {
  background-color: #fff; }

.logo {
  height: 100px;
  width: 180px;
  margin-left: 50px; }

.navbar {
  margin-right: 20px; }
  .navbar-fixed {
    background-color: #efefef; }

a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px; }
  a:after {
    content: "";
    position: absolute;
    background-color: #8cc444;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s; }
  a:hover {
    color: #ffffff; }
  a:hover:after {
    width: 100%; }

.section-1 {
  display: flex;
  /*height: 50vh;*/
  width: 100%;
  justify-content: center;
  background: #ffffff;
  flex-wrap: wrap;
  margin-bottom: 40px; }

.titulo-principal {
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 8rem;
  color: #606a70;
  line-height: 1.5rem;
  text-overflow: inherit;
  text-decoration-color: #606a70;
  margin-top: 1px;
  padding: 5px;
  text-align: center;
  line-height: 3rem;
  min-width: 300px; }

.cards, .cards .cards-cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  margin-top: 25px;
  margin-bottom: 20px; }
  .cardsdiv {
    padding: 30px;
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px; }
  .cards .cards-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: white; }
    .cards .cards-cont .cards div, .cards .cards-cont .cards-cont div {
      padding: 10px;
      min-width: 300px;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 10px; }

.cards div, .cards .cards-cont div {
  padding: 30px;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px; }

/*-----------media query section-1-------------------------*/
@media (max-width: 600px) {
  .card-1, .card-2, .card-3, .card-4 {
    width: 100%;
    margin-bottom: 50px; } }

.section-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /*height: 60vh;*/ }

.description {
  flex: 50%;
  padding: 20px;
  flex-wrap: wrap; }

.video {
  flex: 50%;
  padding: 25px; }

.titulo-h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 2rem;
  color: #606a70;
  text-overflow: inherit;
  text-decoration-color: #606a70;
  padding: 5px;
  justify-content: center;
  min-width: 300px; }

.description-section-2 {
  padding: 10px;
  justify-content: center; }

.titulo-principal-2 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 2.5rem;
  color: #606a70;
  text-overflow: inherit;
  padding-top: 50px;
  min-width: 300px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #8cc444; }

.articulo-1 {
  margin-top: 10px;
  padding-top: 10px; }

.description-services p {
  padding: 10px; }

.tittle-serv-2 {
  display: flex;
  justify-content: center;
  text-align: center; }

.subtitle-serv {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 0.5px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid;
  color: #8cc444; }

.tittle-serv-1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-size: 5rem;
  color: #606a70;
  text-overflow: inherit;
  padding-top: 50px;
  min-width: 300px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #8cc444;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 3rem; }

.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

/* Informacion de Contacto*/
.cantact_info::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #8cc444;
  opacity: 0.9; }

.cantact_info {
  width: 38%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/1.jpg");
  background-size: cover;
  background-position: center center; }

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: #fff; }

.info_title {
  margin-bottom: 60px; }

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px; }

.info_title h2 {
  font-size: 35px;
  text-align: center; }

.info_items p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px; }

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px; }

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px; }

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px; }

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px; }

form.form_contact .user_info {
  display: flex;
  flex-direction: column; }

form.form_contact label {
  font-weight: 600; }

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400; }

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px; }

form.form_contact input[type="button"] {
  width: 180px;
  background: #8cc444;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer; }

form.form_contact input[type="button"]:hover {
  background: #8cc444; }

/* Ventana de errores*/
.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }

.mensaje_modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px; }

.mensaje_modal h3 {
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 400; }

.mensaje_modal h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px; }

.mensaje_modal p {
  font-size: 16px;
  color: #606060; }

.mensaje_modal p:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  color: #E25151;
  margin-right: 8px; }

#btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
  float: right; }

.pie-pagina {
  width: 100%;
  background-color: #606a70;
  margin-bottom: 0; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #8cc444;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: #606a70; }

.pie-pagina .grupo-2 {
  background-color: #8cc444;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }
