.logo{
    height: 100px;
    width: 180px;
    margin-left: 50px;
}
.navbar{
    margin-right: 20px;
}
.slider{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 5rem;
    margin-top: 80px;
    padding: 10px;
    margin-bottom: 80px;
}
.card1{
    margin-left: 50px;
}
.articulo-1{
    padding: 10px;
    margin-bottom: 50px;
}
.titulo-principal-2{
    text-align: center;
    font-size: 2rem;
    margin-top: 150px;
    padding: 10px;
    margin-bottom: 80px;
}
.pie-pagina {
    margin-bottom: 0;
    width: 100%;
    background-color: #8cc444;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
/*form*/
.heroform {
    height: 90vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)), url(../assets/img/10.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

form {
    grid-column: 2/ 10;
    grid-row: 3 / 7;
    color: #fff;
    z-index: 1;
    width: 450px;
    margin: auto;
    background: #8cc444;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}