* {
    margin: 0;
    padding: 0;
  }
  .slider {
    width: 100%;
  }
  hr{
    border: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 4px;
    background-color: #8cc444;
    color:#8cc444;
    width: 100%;
  }
  h5{
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-style: oblique;
    font-size: 2rem;
    color: #606a70;
    text-overflow: inherit;
    padding-top: 50px;
    min-width: 300px;
    text-align:center;
    padding: 20px;
    margin-bottom: 2rem;
    margin-top: 3rem;
  
  }
  h4{
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-style: oblique;
    font-size: 2rem;
    color: #606a70;
    text-overflow: inherit;
    padding-top: 30px;
    min-width: 300px;
    text-align:center;
    padding: 10px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  